@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.woff2) format("woff2");
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-display: auto;
}

@property --bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #162C49;
}

@property --light-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}

@property --body-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 768px;
}

@property --body-height {
    syntax: "<length>";
    inherits: false;
    initial-value: fit-content;
}

@property --aside-height {
    syntax: "<length>";
    inherits: false;
    initial-value: 360px;
}

@property --footer-img {
    syntax: "<length>";
    inherits: false;
    initial-value: 44px;
}

@layer init {
    body {
        /*  Do not set width in "width", it breaks the visited pages' layouts 
            Use "min-width" instead. 
        */
        min-width: var(--body-width);
        height: var(--body-height);
    }

    /* Welcome message */

    .welcome-message-logo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    /* Footer */

    .footer-links {
        width: var(--footer-img);
        height: auto;
        aspect-ratio: 3/2;
    }

    /* Use drop-shadow since box-shadow literally works on box model, not svg images */
    .footer-links,
    .switch-button {
        /* .shadow-md conversion to drop-shadow */
        filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    }

    .footer-auxiliary-icon {
        width: 24px;
        height: 24px;
    }

    .switch-button {
        width: 75px;
        transition: width 0.25s ease-in-out;
        -webkit-transition: width 0.25s ease-in-out;
        -moz-transition: width 0.25s ease-in-out;
        -ms-transition: width 0.25s ease-in-out;
        -o-transition: width 0.25s ease-in-out;

        &.active {
            width: 100px;
        }
    }

    .switch-button-icon {
        -webkit-animation: fade-in-fwd 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: fade-in-fwd 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    /* Custom Global CSS Color Rules */

    .header-content,
    .aside-buttons,
    .footer-content {
        color: var(--light-color);
        background: var(--bg-color);
    }

    /* Aside & Aside Buttons */

    .aside-buttons {
        min-height: var(--aside-height);
    }

    .aside-button-icons {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    /* Unit Converter */

    textarea[name="result"] {
        max-height: 100px;
        resize: none !important;
    }

    /* Lorem Ipsum Generator */

    textarea[name="lorem-result"] {
        min-height: 175px !important;
        resize: none !important;
    }
}

/* App Calculations */

.app-calc-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calc-output-result {
    border: none;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
        -moz-transform: translateZ(-80px);
        -ms-transform: translateZ(-80px);
        -o-transform: translateZ(-80px);
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}