@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.woff2) format("woff2");
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-display: auto;
}

@layer init {
    @property --body-height {
        syntax: "<length>";
        inherits: false;
        initial-value: 512px;
    }

    body {
        width: 768px;
        height: var(--body-height);
    }
}

.switch-button {
    width: 75px;
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;

    &.active {
        width: 100px;
    }
}

.switch-button-icon {
    -webkit-animation: fade-in-fwd 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: fade-in-fwd 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
        -moz-transform: translateZ(-80px);
        -ms-transform: translateZ(-80px);
        -o-transform: translateZ(-80px);
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

/* Aside & Aside Buttons */

.aside-buttons {
    min-height: var(--body-height);
}

/* App Calculations */

.app-calc-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}