@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.woff2) format("woff2");
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-display: auto;
}

@layer init {
    body {
        width: 768px;
        height: 512px;
    }
}

.btn {
    width: 75px;
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
}

.btn.active {
    width: 100px;
}